<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bem Vindo ao APP do Banco</h1>
    <p>Escolha uma das opções abaixo:</p>
    <a href="/deposit">
        <button>Adicionar conteúdo à conta</button>
    </a>
    <br><br>
    <a href="/retirar">
        <button>Retirar itens da conta</button>
    </a>
    <br><br>
    <a href="/conta">
        <button>Conferir estado da conta</button>
    </a>
</body>
</html>