<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retirar</title>
</head>
<body>
    <h1>Retire produtos de sua conta</h1>
    <form action="/retirar" method="POST">
        <label for="saldo">Dinheiro:</label>
        <input type="number" id="saldo" name="saldo">
        <br><br>

        <label for="produtos">Produto:</label>
        <input type="text" id="produtos" name="produtos">
        <br><br>

        <button type="submit">Retirar da conta</button>
        <br><br>
    <a href="/">
        <button>Retornar à página principal</button>
    </a>
    </form>
</body>
</html>